@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600i,700i&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

body{
    font: 400 14px Source Sans Pro;
    font-style: normal;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;

}

input, button, textarea{

    font: 400 18px Source Sans Pro;

}

button{
    cursor: pointer;
}

form input{
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6 ;
    border-radius: 8px;
    padding: 0 24px ;

}
form textarea{
    width: 100%;
    resize: vertical;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6 ;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}

.button{
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter .4s ;

}
.button:hover{
    filter: brightness(85%);
}

.back-link{
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2;
    font-style: normal;
    font-family: Source Sans Pro;

}
.back-link:hover{
    opacity: 0.8s;
}

.back-link svg{
    margin-right: 8px;
}
    
